USE [master]
GO
/****** Object:  Database [MovieStore]    Script Date: 8/14/2017 6:06:25 PM ******/
CREATE DATABASE [MovieStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieStore', FILENAME = N'C:\Users\Rafib\MovieStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MovieStore_log', FILENAME = N'C:\Users\Rafib\MovieStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieStore]
GO
USE [MovieStore]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 8/14/2017 6:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[MovieId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([MovieId], [Title], [Price], [ImageUrl]) VALUES (1, N'kidnap', CAST(12.99 AS Decimal(18, 2)), N'https://i.ytimg.com/vi/R-Ht8VRPRvU/maxresdefault.jpg')
INSERT [dbo].[Movie] ([MovieId], [Title], [Price], [ImageUrl]) VALUES (3, N'Run3', CAST(6.99 AS Decimal(18, 2)), N'https://i.ytimg.com/vi/R-Ht8VRPRvU/maxresdefault.jpg')
INSERT [dbo].[Movie] ([MovieId], [Title], [Price], [ImageUrl]) VALUES (8, N'EmojiMovie', CAST(8.99 AS Decimal(18, 2)), N'https://i.ytimg.com/vi/r8pJt4dK_s4/hqdefault.jpg')
SET IDENTITY_INSERT [dbo].[Movie] OFF
USE [master]
GO
